:root {
    --color-dark: #333;
    --color-light: #fff;
    --color-light-2: rgba(255, 255, 255, 0.8);
    --color-light-3: rgba(255, 255, 255, 0.6);
    --color-light-4: #f6f6f6;
    --bg-header: #161616;
    --bg-nav: #fa1939;
    --bg-nav-active: #d90c16;
    --txt-nav-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
    --color-danger: #f2272f;
    --color-pink: #fa5480;
    --color-primary: #4390f8;
    --color-success: #38c378;
    --color-warning: #f9a62b;
    --color-carrot: #e4242c;
    --color-secondary: #555555;
    --color-secondary-2: #747474;
    --color-secondary-3: #dbdbdb;
    --linear-gradient-overlay: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 60%, black 100%);
    --logo-size: 80px;
    --default-font-family: "Koulen", Arial, Helvetica, sans-serif;
    --second-font-family: "Battambang", cursive;
    --default-transition: all 0.2s linear;
    --box-content-shadow: 1px 2px 2px 1px rgb(0 0 0 / 20%);
    --default-scale-in: scale(0.98);
    --color-fb: #306199;
    --color-fb-hover: #204a7a;
    --color-tw: #26c4f1;
    --color-tw-hover: #1fa8ce;
    --color-mail: #0a88ff;
    --color-mail-hover: #0070d9;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-fluid {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

/* header  */

.container-fluid>.header {
    width: 100%;
    height: 100px;
    background-color: black;
    padding: 15px 0px;
}


.container-fluid>.header>.container {
    width: 80%;
    margin: auto;
    background-color: black;
    /* padding: 0px 25px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.container-fluid>.header>.container>.logo>img {
    height: 90px;
}

@media (max-width: 767px) {
    .container-fluid>.header {
        height: 50px;
        width: 100%;
    }

    .container-fluid>.header>.container {
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .container-fluid>.header>.container>.logo {
        /* text-align: center; */
        height: 50px;
        width: 50px;
    }

    .container-fluid>.header>.container>.logo>img {
        width: 100%;
        height: 100%;

    }

    .container-fluid>.header>.container>.advertise {
        display: none;
    }
}

/* end of header  */


/* nav  */

.container-fluid>.navbar {
    width: 100%;
    margin: 0px;
    background-color: red;
}

.container-fluid>.navbar>.container {
    width: 80%;
    margin: auto;
    background-color: red;
}

.container-fluid>.navbar>.container>ul {
    display: flex;
    width: 100%;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    margin-bottom: 20px;
    padding-inline-start: 0px;
}

.container-fluid>.navbar>.container>ul>li>a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    font-weight: 500;
    color: white;
    font-family: 'Koulen', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

@media (max-width: 767px) {
    .container-fluid>.navbar {
        display: none;
    }
}

/* end of nav  */





.entertainment {
    position: relative;
    width: 100%;
    /* background-image: url('../img/entertainment_page_detail_one.jpg'); */


}

.entertainment>.backgroundImage {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    filter: blur(10px);
    z-index: -5;
    position: absolute;
    background-image: url('../img/entertainment_page_detail_one.jpg');
}

.entertainment>.container {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 3%;
}

.entertainment>.container>.container-left {
    width: 67%;
    box-sizing: border-box;
    background-color: var(--color-light);
    padding: 10px 44px 20px;
}

.entertainment>.container>.container-left>.custom-adv {
    display: none;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entertainment>.container>.container-left>.custom-adv>p {
    color: var(--color-secondary-2);
    margin: 0px;
}

.entertainment>.container>.container-left>.title {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 10px;
    color: #333333;
}

.entertainment>.container>.container-left>.article_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(177, 175, 175);
    font-size: 14px;
}

.entertainment>.container>.container-left>.line {
    width: 100%;
    border: 1px solid rgb(205, 201, 201);
    margin-top: 10px;
}

.entertainment>.container>.container-left>.controlSpace {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: -20px;

}

.entertainment>.container>.container-left>.controlSpace>p {
    margin-right: 10px;
}

.entertainment>.container>.container-left>.news_content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.entertainment>.container>.container-left>.news_content>.image {
    width: 100%;
}

.entertainment>.container>.container-left>.news_content>.image>img {
    width: 100%;
    object-fit: contain;
    object-position: top;
}

.entertainment>.container>.container-left>.news_content>.custom_image {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.entertainment>.container>.container-left>.news_content>.custom_image>img {
    width: 100%;
    object-fit: contain;
    object-position: top;
    margin-bottom: -10px;

}

.entertainment>.container>.container-left>.news_content>.custom_image>p>i {
    font-size: 13px;
    color: var(--color-secondary-2);
}

.entertainment>.container>.container-left>.news_content>.socail-icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.entertainment>.container>.container-left>.news_content>.socail-icon>a {
    color: white;
    font-size: 14px;
    background-color: var(--color-pink);
    display: block;
    padding: 5px 8px;
    margin-right: 5px;
    /* width: 100%; */

}

.entertainment>.container>.container-left>.news_content>.tag {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.entertainment>.container>.container-left>.news_content>.tag>a {
    text-decoration: none;
    color: var(--color-light);
    background-color: var(--color-pink);
    display: block;
    padding: 8px 10px;
    font-size: 14px;
    margin-right: 5px;

}

@media (max-width: 767px) {
    .entertainment {
        width: 100%;
    }

    .entertainment>.container {
        width: 100%;
    }

    .entertainment>.container>.container-left {
        width: 100%;
    }

    .entertainment>.container>.container-left>.custom-adv {
        display: flex;
    }
}











.entertainment>.container>.container-left>.news_content>.socail-icon>a> {}

.entertainment>.container>.container-right {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.entertainment>.container>.container-right>.adv {
    width: 100%;
}

.entertainment>.container>.container-right>.adv>img {
    width: 100%;
}

.entertainment>.container>.container-right>.popularContent {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    background-color: white;
    margin-top: 25px;
}



.entertainment>.container>.container-right>.popularContent>.line {
    border-top: 3px solid var(--bg-nav);
    width: 50px;
    margin-bottom: 10px;
}

.entertainment>.container>.container-right>.popularContent>.desc {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}

.entertainment>.container>.container-right>.popularContent>.desc>.image {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;

}

.entertainment>.container>.container-right>.popularContent>.desc>.image>img {
    width: 100%;
    height: 100%;
}

.entertainment>.container>.container-right>.popularContent>.desc>.text {
    width: calc(100% - 50px);
    font-size: 14px;
}


.entertainment>.container>.container-right>.newContent {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    background-color: white;
    margin-top: 25px;
}



.entertainment>.container>.container-right>.newContent>.line {
    border-top: 3px solid var(--bg-nav);
    width: 50px;
    margin-bottom: 10px;
}

.entertainment>.container>.container-right>.newContent>.desc {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}

.entertainment>.container>.container-right>.newContent>.desc>.image {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;

}

.entertainment>.container>.container-right>.newContent>.desc>.image>img {
    width: 100%;
    height: 100%;
}

.entertainment>.container>.container-right>.newContent>.desc>.text {
    width: calc(100% - 50px);
    font-size: 14px;
}

@media (max-width: 767px) {
    .entertainment>.container>.container-right {
        display: none;
    }
}









/* footer  */
.footer {
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 80px 0px;
}

.footer .container {
    margin-top: 25px;
    display: flex;
    width: 80%;
    height: 200px;
}

.footer .container>.container-left {
    width: 33.333333%;
}

.footer .container>.container-left>p {
    color: var(--color-light-3);
    font-size: 16px;
}


.footer .container>.container-left>span>a {
    text-decoration: none;
    color: var(--color-light-2);
}

.footer .container>.container-left>span>a:hover {
    color: var(--color-light);
}

.footer .container>.container-left>p:nth-child(4) {
    color: var(--color-light);
}

.footer .container>.container-center {
    width: 41.6666666667%;
}

.footer .container>.container-center>h3 {
    color: var(--color-light-3);
}

.footer .container>.container-center>p {
    color: var(--color-light-3);
    /* white-space: nowrap; */
}

.footer .container>.container-center>p>span>a {
    color: var(--color-light-3);
    text-decoration: none;
    /* text-decoration: none; */
}

.footer .container>.container-center>p>span>a:hover {
    color: var(--color-light)
}

.footer .container>.container-center>a:hover {
    color: var(--color-light);

}

.footer .container>.container-center>.brandLogo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer .container>.container-center>.brandLogo>a {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.footer .container>.container-center>.brandLogo>a>img {
    width: 100%;
    height: 100%;
}

.footer .container>.container-center>.brandLogo .footer .container>.container-right {
    width: 25%;
}

.footer .container>.container-right {
    width: 33.333333%;
}

.footer .container>.container-right>h3 {
    color: var(--color-light-3);
}

.footer .container>.container-right>.socail-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .container>.container-right>.socail-icon>a {
    height: 30px;
    width: 30px;
}

.footer .container>.container-right>.socail-icon>a>i {
    height: 100%;
    width: 100%;
    color: var(--color-light-3);
}

.footer .container>.container-right>.socail-icon>a:hover>i {

    color: var(--color-light);
}

.footer .container>.container-right>p {
    color: var(--color-light-3);
}

.footer .container>.container-right>a {
    color: var(--color-light-3);
    text-decoration: none;
}

.footer .container>.container-right>a:hover {
    color: var(--color-light);
    /* text-decoration: none; */
}

.footer .container>.container-right>p:nth-child(3) {
    color: var(--color-light);
}

@media (max-width: 767px) {
    .footer {
        height: 600px;
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 210px;
    }

    .footer .container>.container-left {
        text-align: center;
    }

    .footer .container>.container-center {
        /* width: ; */
        display: none;
        align-items: center;
    }

    .footer .container>.container-right {
        text-align: center;
    }
}