:root {
    --color-dark: #333;
    --color-light: #fff;
    --color-light-2: rgba(255, 255, 255, 0.8);
    --color-light-3: rgba(255, 255, 255, 0.6);
    --bg-header: #161616;
    --bg-nav: #fa1939;
    --bg-nav-active: #d90c16;
    --txt-nav-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
    --color-danger: #f2272f;
    --color-pink: #fa5480;
    --color-primary: #4390f8;
    --color-success: #38c378;
    --color-warning: #f9a62b;
    --color-secondary: #555555;
    --linear-gradient-overlay: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.8) 60%,
            black 100%);
    --logo-size: 80px;
    --default-font-family: "Koulen", Arial, Helvetica, sans-serif;
    --second-font-family: "Battambang", cursive;
    --default-transition: all 0.2s linear;
    --box-content-shadow: 1px 2px 2px 1px rgb(0 0 0 / 20%);
    --default-scale-in: scale(0.98);
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-fluid {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.container-fluid>.header {
    width: 100%;
    height: 100px;
    background-color: black;
}


.container-fluid>.header>.container {
    width: 80%;
    margin: auto;
    background-color: black;
    /* padding: 0px 25px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.container-fluid>.header>.container>.logo>img {
    height: 90px;
}

.container-fluid>.navbar {
    width: 100%;
    margin: 0px;
    background-color: red;
}

.container-fluid>.navbar>.container {
    width: 80%;
    margin: auto;
    background-color: red;
}

.container-fluid>.navbar>.container>ul {
    display: flex;
    width: 100%;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    margin-bottom: 20px;
}

.container-fluid>.navbar>.container>ul>li>a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    font-weight: 500;
    color: white;
    font-family: 'Koulen', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.container-fluid>.entertainment {
    width: 100%;
}

.container-fluid>.entertainment>.container {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 3%;
}

.container-fluid>.entertainment>.container>.container_left {
    width: 73%;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: repeat(2, 254px);
}



.container-fluid>.entertainment>.container>.container_left>a {
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    position: relative;
    text-decoration: none;
}



.container-fluid>.entertainment>.container>.container_left>a>.flag {
    position: absolute;
    top: 10px;
    display: inline-block;
    font-weight: bold;
    padding: 5px 8px;
    color: white;
    background-color: var(--color-primary);
}

.container-fluid>.entertainment>.container>.container_left>a:nth-child(2)>.flag,
.container-fluid>.entertainment>.container>.container_left>a:nth-child(3)>.flag {
    background-color: var(--color-success);
}


.container-fluid>.entertainment>.container>.container_left>a>.flag::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 100%;
    border-style: solid;
    border-width: 31px 0px 0px 20px;
    border-color: transparent transparent transparent var(--color-primary);
}

.container-fluid>.entertainment>.container>.container_left>a:nth-child(2)>.flag::after,
.container-fluid>.entertainment>.container>.container_left>a:nth-child(3)>.flag::after {
    border-color: transparent transparent transparent var(--color-success);
}

.container-fluid>.entertainment>.container>.container_left>a>.time {
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: white;
    font-size: 13px;
}

.container-fluid>.entertainment>.container>.container_left>a>.overlay {
    /* width: 100%;
    height: 100%;
    background: var(--linear-gradient-overlay);
    opacity: 0.5;
    z-index: 5;
    transition: var(--default-transition);
    position: absolute; */
}

/* .container-fluid>.entertainment>.container>.container_left>a:hover>.overlay {
    opacity: 1;
} */

.container-fluid>.entertainment>.container>.container_left>a .text {
    position: absolute;
    left: 10px;
    bottom: 25px;
}

.container-fluid>.entertainment>.container>.container_left>a:hover .text {
    /* display: flex; */
    bottom: 40px;
    transition: var(--default-transition);
}

.container-fluid>.entertainment>.container>.container_left>a:hover .text>.desc {
    display: flex;
    /* bottom: 70px;
    transition: var(--default-transition); */
}

.container-fluid>.entertainment>.container>.container_left>a>.text>.title {
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.container-fluid>.entertainment>.container>.container_left>a>.text>.desc {
    font-size: 15px;
    display: none;
    color: white;
}

.container-fluid>.entertainment>.container>.container_left>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.container-fluid>.entertainment>.container>.container_right {
    width: 24%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 254px);

}

.container-fluid>.entertainment>.container>.container_right>a {
    width: 100%;
    height: 100%;
    background-color: blue;
}

.container-fluid>.entertainment>.container>.container_right>a>img {
    width: 100%;
    height: 100%;
    background-color: blue;
}

/* need to rewrite */

@media (max-width: 767px) {
    .container-fluid>.entertainment>.container {
        width: 100%;
        display: flex;

    }

    .entertainment>.container>.container_left {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, 100%);
        grid-template-rows: 254px;
        animation: slide 10s infinite;
    }

    .entertainment>.container>.container_right {
        width: 0px;
    }

    .entertainment>.container>.container_left>a {
        width: 100%;
    }

    .entertainment>.container>.container_left>a>.flag {
        top: 1000px;
    }

    .entertainment>.container>.container_left>a>.text {
        bottom: 10px;
    }

    .entertainment>.container>.container_left>a>.text>.desc {
        display: none;
    }

    .entertainment>.container>.container_left>a>img {
        width: 80%;
        margin: auto;
    }

    @keyframes slide {
        0% {
            transform: translateX(0);
        }

        10% {
            transform: translateX(0);
        }

        20% {
            transform: translateX(-100%);
        }

        30% {
            transform: translateX(-100%);
        }

        40% {
            transform: translateX(-200%);
        }

        50% {
            transform: translateX(-200%);
        }

        55% {
            transform: translateX(-300%);
        }

        65% {
            transform: translateX(-300%);
        }

        66% {
            transform: translateX(-200%);
        }

        74% {
            transform: translateX(-200%);
        }

        75% {
            transform: translateX(-100%);
        }

        85% {
            transform: translateX(-100%);
        }

        90% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(0);
        }
    }


}

.container-fluid>.video {
    width: 100%;
    margin-top: 20px;
}

/* video  */
.container-fluid>.video>.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.container-fluid>.video>.container>.container-top {
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: #4390f8; */
}

.video>.container>.container-top>.flag {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    background-color: var(--bg-nav-active);
    position: relative;
}

.video>.container>.container-top>.flag::after {
    position: absolute;
    content: "";
    top: 0%;
    left: 100%;
    border-style: solid;
    border-width: 50px 0px 0px 20px;
    border-color: transparent transparent transparent var(--bg-nav-active);
}

.video>.container>.container-botton {
    width: 100%;
    box-shadow: var(--box-content-shadow);
    padding: 15px 25px;
    border-top: 3px solid var(--bg-nav-active);

}

.video>.container>.container-botton>.container-botton-top {
    display: flex;
    /* align-items: flex-start; */
    gap: 2%;
    margin-bottom: 20px;
}

.video>.container>.container-botton>.container-botton-top>a {
    width: 32%;
    text-decoration: none;
    color: black;
}

.video>.container>.container-botton>.container-botton-top>a>.image {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.video>.container>.container-botton>.container-botton-top>a>.image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.video>.container>.container-botton>.container-botton-bottom {
    display: flex;
    width: 100%;
    gap: 3%;
}

.video>.container>.container-botton>.container-botton-bottom>.container-botton-bottom-left {
    width: 68%;
    display: grid;
    gap: 4%;
    grid-template-columns: repeat(4, 22%);
    /* grid-template-rows: ; */
}

.video>.container>.container-botton>.container-botton-bottom>.container-botton-bottom-left>a {
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.video>.container>.container-botton>.container-botton-bottom>.container-botton-bottom-left>a>.image {
    width: 100%;
    height: 93px;
}

.video>.container>.container-botton>.container-botton-bottom>.container-botton-bottom-left>a>.image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.video>.container>.container-botton>.container-botton-bottom>.container-botton-bottom-right {
    width: 29%;
}

.video>.container>.container-botton>.container-botton-bottom>.container-botton-bottom-right>img {
    width: 100%;
}

@media (max-width: 767px) {
    .container-fluid>.video>.container {
        width: 100%;
    }

    .video>.container>.container-botton>.container-botton-top {
        display: none;
    }

    .video>.container>.container-botton>.container-botton-bottom>.container-botton-bottom-right {
        display: none;
    }

    .video>.container>.container-botton>.container-botton-bottom {
        width: 100%;
    }

    .video>.container>.container-botton>.container-botton-bottom>.container-botton-bottom-left {
        width: 100%;
        display: flex;
        overflow: auto;
    }

    .video>.container>.container-botton>.container-botton-bottom>.container-botton-bottom-left>a>.image {
        width: 120%;
    }
}